<html>
    <head>
        <title>Space Photos Website</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
            <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
<body>
   <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="space shuttle icon"></i><a href="/">James' Favourite Space Pics</a></div>
                <a href="/" class="item">Home</a>
                <a href="/pics/about" class="item">About</a>
                <a href="/pics/new" class="item">Post New Picture</a>
                <a href="/pics/contact" class="item">Contact</a>
            </div>
        </div>
  