<% include ./partials/header %>

<div class="ui main text container segment">
     <div class="ui huge header">About</div>
        <div class="field">
             <p>
             The following is the collection of my favourite space pictures, to be used as a demonstration 
             of web development skills I have learned and used. The stack consists of Node JS, Mongo DB, 
             Vanilla Javascript, Express, EJS, and Semantic UI for CSS. Features include the ability to add, 
             edit, and delete new pictures. 
             <br>
             Each picture that is added is displayed on the homepage with a short description which can be read in more detail once clicked. 
             You are then taken to that picture's page where you can read, edit and delete the image. New pictures can be added on the 'Post New Picture'
             tab, and there is also a contact page with details plus a link to my LinkedIn.
             
             </p>
    </div>
</div>
<% include ./partials/footer %>
