<% include ./partials/header %>

<div class="ui main text container segment">
     <div class="ui huge header">Contact</div>
        <div class="field">
             <p>
                 <strong>Email:</strong> james.a.harpur@gmail.com
                 <br>
                 <strong>Phone:</strong> 0490 909 296
                 <br>
                 <a href="https://www.linkedin.com/in/jamesharpur/">LinkedIn</a> 
                 <br>
             </p>
    </div>
</div>
<% include ./partials/footer %>
